# Build and Release Folders
bin-debug/
bin-release/
release/
__pycache__/
# Other files and folders
*.laya
*.idea
*.spec


assets/*
!assets/deploy

build/
dist/
protofile/

venv/

# Executables
.DS_Store